.padre{
    display: flex;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 600px;
    border: 10px solid rgb(123, 255, 0);
}

.padre div{
    flex: 0.3;
    background-color: red;
    border: 10px solid brown;
    width: 100px;
    height: 100px;
    text-align:center;
    margin: auto;
    font-weight: bold;
}