body{
    max-width: 600px;
    margin: 0 auto;
}

.div1{
    border: 2px solid blue;
    background-color: lightpink;
    text-align: left;
    width: 400px;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.div2{
    background-color: aqua;
    border: 2px solid red;
    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.div3{
    background-color: bisque;
    border: 2px solid red;
    padding: 40px;
    width: 200px;
    text-align: left;
    display: block;
    margin-top: 5em;
    margin-left: auto
}

article{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
    background-color: rgb(231, 231, 231);
}

.card, p, div{
    background-color: aquamarine;
}

.card{
    font-weight: bold;
}

.pej2{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.text{
    text-align: center;
    padding: 20px;
}

.text button{
    font-size: 3em;
    border-radius: 28px;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
}

.text button:hover{
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
}