div{
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.intro{
    background-color: rgb(89, 152, 211);
}

.main{
    background-color: rgb(41, 86, 168);
}

.contact{
    background-color: rgb(69, 79, 170);
}

.resalto{
    background-color: yellow;
}