*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: 800fr repeat(4, 150fr);
    grid-template-rows: 100px;
    background-color: rgb(39, 75, 129);
    color: white;
    grid-gap: 100px;
    align-items: center;
    overflow: auto;
    margin-bottom: 10px;
}

.logo{
    font-size: 3em;
    font-weight: bold;
    margin-left: 15px;
}

.item{
    font-weight: bold;
}

.contenedor{
    display: grid;
    grid-template-columns: 25% 75%;
    overflow: auto;
}

.articulo{
    display: grid;
    grid-template-rows: 30fr 200fr;
    grid-template-columns: repeat(3, 50fr);
    grid-auto-rows: 200fr;
    text-align: center;
    grid-gap: 10px;
    overflow: auto;
}

#en1, #en2, #en3{
    background-color: rgb(247, 182, 151);
    padding: 10px;
    font-weight: bold;
    color: white;
}